.App {
    height: auto;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    overflow: hidden;
    padding: 0%;
    margin: 0%;
  }
  
  .cryptoHeader {
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: rgb(255, 196, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .cryptoHeader h1 {
    color: white;
  }
  .cryptoHeader input {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    outline: none;
  }
  
  .cryptoDisplay {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    flex-wrap: wrap;
  }
  
  .coin {
    width: 400px;
    height: 320px;
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
  }
  
  .coin img {
    height: 100px;
  }
  
  .buttons{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons button{
    margin-right: 20px;
    background-color: rgb(255, 196, 0);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
  }
 .cryptoHeader img{
  width: 150px;
 }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width:768px){
    
    .cryptoHeader img{
      width: 100px;
     
     }
  .cryptoHeader{
    width: 100%;
  }
    .coin{
      width: 360px;
      margin: 0.5rem;
    }
    .cryptoHeader input {
      width: 100px;
    }
    .App{
      width: 100vw;
    }
    .buttons{
      margin-bottom: 1rem;
    }
  }